
#headerbar{
background-color: darkgray;
height: 50px;
display: grid;
grid-area:  1fr 1fr/1fr;
display: flex;
flex-direction: row;
justify-content: space-between;
}

#navbar{

    flex: 1 1 auto;

}
#logo{
padding-top: 30px;
width: 80px;
border-radius: 50%;

}




