<section id="bodyHome">
<h1>Bienvenue sur un site astronomique !</h1>
<p class="blocExp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A perspiciatis dicta dolorum eius unde minus eaque quae repudiandae nostrum! Rerum quam molestiae qui placeat rem labore quisquam laboriosam praesentium voluptates!</p>
<div id="bodyHomeImg">
<img src="https://c.tenor.com/sHnDLbcNVH4AAAAd/baked-beans-monster.gif" alt="">
<h4>Chuuut.....</h4>
</div>
<p class="blocExp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quas cumque iste quos, vel temporibus laudantium praesentium facere eligendi rerum corrupti suscipit dolor quod sint quaerat ea voluptates labore error.
Pariatur nobis aperiam quo quia, est tenetur eligendi itaque sit fugiat, accusamus ullam amet cumque quasi commodi cum iusto minima hic officia ratione. Laudantium, aspernatur aliquid soluta molestias dolores omnis!
Sapiente veritatis natus aliquid blanditiis minus, architecto maxime ad repellat culpa cum quos fugit itaque officiis debitis sint. Debitis eum nulla facilis voluptatum error quidem assumenda aliquam dolore modi explicabo?
Magnam earum, facere similique ipsam dicta, necessitatibus nihil sit officia vero nemo, cumque obcaecati ducimus modi amet nostrum officiis pariatur ipsa expedita exercitationem aperiam. Non modi ad vero commodi nam?
At sunt harum velit aut quibusdam, sed totam. Voluptatem, delectus cumque deserunt iure voluptatum consequuntur perferendis possimus pariatur beatae quasi unde molestias quam excepturi maiores aperiam repudiandae tempore sit a.
Quisquam, optio voluptatum? Unde commodi sunt recusandae, earum quasi dolorum beatae expedita eos. Ipsum perspiciatis minus corrupti ullam blanditiis aspernatur odit laborum, voluptatum voluptate ducimus id porro, error officiis quisquam.
Assumenda porro adipisci distinctio ipsum soluta voluptatibus nulla dignissimos! Necessitatibus amet dicta temporibus illum? Numquam minima nisi aliquam adipisci cupiditate pariatur aspernatur facilis tempore, dicta autem magni, illum nam ullam.
Dicta atque nostrum omnis eligendi cum, cupiditate quo vitae tenetur voluptatibus aliquam reiciendis voluptate asperiores aliquid. Saepe recusandae quasi numquam neque perferendis temporibus non odio illum. Maxime aliquam corrupti molestiae.
Explicabo recusandae vitae iure, consectetur deleniti repudiandae commodi eligendi itaque ipsa alias veritatis voluptates suscipit? Magnam laborum nostrum itaque perferendis? Minus cum repudiandae dolor eligendi dignissimos, velit nulla inventore obcaecati.
Sequi sunt tenetur nobis ipsum praesentium rem alias, voluptates voluptatem veniam harum inventore dolorum accusantium! Libero, id voluptatum? Perspiciatis in consequuntur, provident laborum consequatur quas maiores molestiae tenetur fuga amet!
Consectetur facere voluptate sequi pariatur fugit dolorum aperiam reiciendis provident, reprehenderit voluptatibus maxime, quidem odit. Quisquam numquam quia hic et similique? Nobis quod, perspiciatis omnis debitis ea mollitia sit eos.
Fuga eum sit ullam harum sapiente repudiandae doloribus dolore iste rerum laudantium? Vitae in blanditiis, numquam quia similique suscipit, corporis adipisci dolorem temporibus repellendus alias maiores ratione! Aut, ullam eius?
Quidem quasi alias provident illum dolorem dolor iure accusamus dolore molestias soluta nihil deleniti? Eveniet quis cumque repellendus ad incidunt accusamus?</p>

<div class="spacer"></div>
</section>
